/all_ugchla_run11_beta_vals.csv
/all_ugchla_run11_gamma_vals.csv
/all_ugchla_run11_mu_vals.csv
/all_ugchla_run11_sigma_vals.csv
/all_ugchla_run11_summary_stats.csv
/input_data
/traps_mgchla_run1_beta_vals.csv
/traps_mgchla_run1_gamma_vals.csv
/traps_mgchla_run1_mu_vals.csv
/traps_mgchla_run1_sigma_vals.csv
/traps_mgchla_run1_summary_stats.csv
/traps_ugchla_run1_beta_vals.csv
/traps_ugchla_run1_gamma_vals.csv
/traps_ugchla_run1_mu_vals.csv
/traps_ugchla_run1_sigma_vals.csv
/traps_ugchla_run1_summary_stats.csv